*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: auto;
    width: 70vw;
}

header{
    padding: 10px;
    display: flex;
    /* background-color: aquamarine; */
    margin: auto;
    width: auto;
    justify-content: space-between;
}

header nav ul{
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    box-sizing: border-box;
}

header nav ul li{
    margin-left: 20px;
    text-align: center;
}

header nav a{
    text-decoration: none;
    color: black;
    /*en esta seccion manipulamos los estilos de la navegacion */
}


main h1{
    text-align: center;
}

/*main's first secction*/
.main-product article{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin: 10px 10px;
    height: 150px;
    align-items: center;
}

.main-product article div{
    padding: 10px;
    width: 200px;
}

.main-product article figure{
    margin: auto;
}

/*main's second secction*/
.main-services article{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin: 10px 10px;
    height: 150px;
    align-items: center;
}
.main-services article div{
    padding: 10px;
    width: 200px;
}

.main-services article figure{
    margin: auto;
}

/*main's third secction*/

.main-new article{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    margin-bottom: 0;
    min-height: 150px;
}

.main-new article figure{
    border: 1px solid salmon;
}

.main-new h2{
    margin-top: 35px;
    margin-left: 12px;
}

.main-new article{
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.last-section{
    padding: 15px;
    vertical-align: middle;
    height: 100px;
}

footer{
    background-color: gray;
    height: 50px;
    
}

footer ul{
    padding: 17px;
    vertical-align: middle;
    justify-content: space-between;
    list-style: none;
    display: flex;
}